
.login-container{
    background-image: url(../images/login-background.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.login-container .login-form{
    width: 430px;
    height: 100vh;
    background: #ffffff;
    padding: 20px;
}
.login-container .login-form .title{
    text-align: center;
    font-size: 40px;
    color: #757575;
    padding-top: 20px;
    font-family: sans-serif;
    padding-bottom: 20px;
}
.login-container .register-wrapper{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}